body {
	background-color:lightblue;
}

h1	{
	text-align:center;
}

img	{
	align:center;
}

.testCircle	{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.read-more-target	{
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: .15s ease;
}

.read-more-trigger	{
	cursor:pointer;
	display: inline-block;
	padding: 0.5em;
	color: #666;
	font-size: .9em;
	line-height: 1;
	border: 1px solid #ddd;
	border-radius: .25em;
}

.read-more-state {
  display: none;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

#profile1	{

	width: 255px;
	height: 200px;
	text-align: justify;
	float:left;
}

#gap	{

	width:70px;
	height: 200px;
	float:left;
}

#corner	{

	width:50px;
	height: 200px;
	float:left;
}

#mainDiv	{
	width: 1200px;
	height: 400px;
}