<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="site-contact">
    	
      <ul class="contact-list">
        {% for page in site.pages %}
        {% if page.title %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-social">
      <ul class="social-media-list">
      	<li>
      		<a href="mailto:{{ site.email }}">
	      		<i class="fa fa-envelope-o"></i>
	      		<span class="username">{{ site.email }}</span>
      		</a>
      	</li>

      	{% for social in site.social %}
      	{% if social.url != null %}
      	<li>
          <a href="{{ social.url }}" title="{{ social.desc }}">
            <i class="fa fa-{{ social.icon }}"></i>
            <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
          </a>
        </li>
      	{% endif %}
      	{% endfor %}

        {% if site.social.github.url != null %}
        <li>
          <a href="{{ site.social.github.url }}" title="{{ site.social.github.desc }}">
            <i class="fa fa-github"></i>
            <span class="username">{% if site.social.github.username %}{{ site.social.github.username }}{% else %}GitHub{% endif %}</span>
          </a>
        </li>
        {% endif %}

        {% if site.social.twitter.url != null %} 
        <li>
          <a href="{{ site.social.twitter.url }}" title="{{ site.social.twitter.desc }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{% if site.social.twitter.username %}{{ site.social.twitter.username }}{% else %}Twitter{% endif %}</span>
          </a>
        </li>
        {% endif %}

        {% if site.social.linkedin.url != null %}
        <li>
        	<a href="{{ site.social.linkedin.url }}" title="{{ site.social.linkedin.desc }}">
        		<i class="fa fa-linkedin"></i>
        		<span class="username">{% if site.social.linkedin.username %}{{ site.social.linkedin.username }}{% else %}LinkedIn{% endif %}</span>
        	</a>
        </li>
        {% endif %}

        {% if site.social.facebook.url != null %}
        <li>
          <a href="{{ site.social.facebook.url }}" title="{{ site.social.facebook.desc }}">
        		<i class="fa fa-facebook"></i>
        		<span class="username">{% if site.social.facebook.username %}{{ site.social.facebook.username }}{% else %}Facebook{% endif %}</span>
        	</a>
        </li>
        {% endif %}

      </ul>
    </div>

    <div class="site-signature">
      <p class="text">{{ site.description }}</p>
      <p class="rss-subscribe text"><strong>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></strong></p>
    </div>

  </div>

</footer>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script>

$(document).ready(function() {

	// Syntax highlighting
	hljs.initHighlightingOnLoad();

	// Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });


});

</script>
