<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="site-contact">
    	
      <ul class="contact-list">
        {% for page in site.pages %}
        {% if page.title %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-social">
      <ul class="social-media-list">
      	<li>
      		<a href="mailto:{{ site.email }}">
	      		<i class="fa fa-envelope-o"></i>
	      		<span class="username">{{ site.email }}</span>
      		</a>
      	</li>
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.linkedin_profile %}
        <li>
        	<a href="{{ site.linkedin_profile }}">
        		<i class="fa fa-linkedin-square"></i>
        		<span class="username">{{ site.name }}</span>
        	</a>
        </li>
        {% endif %}

        {% if site.facebook_username %}
        <li>
          <a href="https://facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook-official"></i>
            <span class="username">{{ site.facebook_username }}</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </div>

    <div class="site-signature">
      <p class="text">{{ site.description }}</p>
      <p class="rss-subscribe text"><strong>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></strong></p>
    </div>

  </div>

</footer>

<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script>

$(document).ready(function() {

	// Syntax highlighting
	hljs.initHighlightingOnLoad();

	// Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });


});

</script>
