<header class="site-header">
  <div class="wrapper">
    <!-- Site Brand (logo, etc) -->
    <div class="site-brand">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <!-- Site Navigation -->
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-bars"></i>
      </a>
      <div class="">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
