<li class="nav-link"><a href="{{ "/" | prepend: site.baseurl }}">Aktuality</a></li>
<li class="nav-link"><a href="{{ "/about/" | prepend: site.baseurl }}">O nás</a></li>
<li class="nav-link"><a href="{{ "/fotogalerie/" | prepend: site.baseurl }}">Fotogalerie</a></li>
<li class="nav-link"><a href="{{ "/nas-tym/" | prepend: site.baseurl }}">Náš tým</a></li>
<li class="nav-link"><a href="{{ "/prihlaska/" | prepend: site.baseurl }}">Přihláška</a></li>
<li class="nav-link"><a href="{{ "/kontakt/" | prepend: site.baseurl }}">Kontakt</a></li>
<li class="nav-link"><a href="{{ "/faq/" | prepend: site.baseurl }}">Časté otázky</a></li>
<li class="nav-link"><a href="https://docs.google.com/document/d/1zA9ZTQrL9-xQEUcRxW3lQpZKssPxvaunLl4pHf76NFI/">Pedagogická koncepce</a></li>
<li class="nav-link"><a href="{{ "/stanovy/" | prepend: site.baseurl }}">Stanovy spolku</a></li>
<li class="nav-link"><a href="{{ "/komunitni-zahrada/" | prepend: site.baseurl }}">Komunitní zahrada</a></li>
