// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$large-screen: $b1;

$body-padding: $base-font-size/4;

/*
*	Globals
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

/*
*	Header
*/

.navigation {
	// position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 1em 0.5em;
	border-bottom: 1px solid $base-font-color;

  // Mobile view
  .navigation-menu-button {
  	font-size: 1.5em;
    display: block;
    float: right;
    margin: 0;
    // padding-top: 0.5em;

    @include media ($tablet) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
  	@include outer-container;
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;

    img {
      max-height: 2em;
      padding-right: 1em;
    }

    span {
    	font-size: 1.5em;
    	padding-left: 0.25em;
    }
  }

  nav {
    float: none;

    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
      padding-top: 0.3em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;

    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;
    padding: 0.5em;

    @include media ($tablet) {
      padding: 0 0.5em;
    }
  }
}


/*
*	Body
*/
.page-content {
	// padding: 4.5em 0.5em 0.5em 0.5em;
	padding: 0.5em;
	.wrapper {
		@include outer-container;

		/*
		*	Post
		*/
		.post {

		}

		/*
		*	Page
		*/
		.page {

		}

	}

}

/*
*	Footer
*/
.site-footer {
	padding: 2em 0.5em;
	border-top: 1px solid $base-font-color;
	.wrapper {
		@include outer-container;
		.site-contact {
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(6);
			}
			@include media (max-width $mobile) {
				@include span-columns(12);
			}
		}
		.site-social {
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(6);
			}
			@include media (max-width $mobile) {
				@include span-columns(12);
			}
		}
		.site-signature {
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(12);
				text-align: center;
			}
			word-wrap: auto;
		}
	}
}
