// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$large-screen: $b1;

/*
*	Globals
*/
* {
	box-sizing: border-box !important;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

/*
*	Header
*/

.navigation {
	border-bottom: 1px solid #333;
	padding: 1em;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.25em;

    @include media ($tablet) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
  	@include outer-container;
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;

    img {
      max-height: 2em;
      padding-right: 1em;
    }

    span {
    	font-size: 1.25em;
    }
  }

  nav {
    float: none;

    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
      padding-top: 0.25em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.25em 0;

    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;

    @include media ($tablet) {
      padding-right: 1em;
    }
  }
}



/*
*	Body
*/
.page-content {
	// padding: 4.5em 0.5em 0.5em 0.5em;
	padding: 1em;
	.wrapper {
		@include outer-container;

		/*
		*	Post
		*/
		.post {
			.rss {
				margin: 1em 0 0 0;
				@include span-columns(12);
				@include media ($tablet) {
					margin: 1em 0;
					@include span-columns(6);
				}
			}
			.share {
				font-weight: bold;
				margin: 0 0 1em 0;
				@include span-columns(12);
				@include media ($tablet) {
					@include span-columns(6);
					margin: 1em 0;
					text-align: right;
				}
				a {
					width: 1em;
					padding: 0 0.25em;
				}
			}
			.disqus {
				@include span-columns(12);
			}
		}

		/*
		*	Page
		*/
		.page {

		}

		.post-meta {
			color: $medium-gray;
		}

		.pagination {
			text-align: center;
			color: $medium-gray;
		}

	}

}

/*
*	Footer
*/
.site-footer {
	padding: 1em;
	border-top: 1px solid $base-font-color;
	.wrapper {
		@include outer-container;
		.site-contact {
			padding-top: 1em;
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(6);
			}
			@include media (max-width $mobile) {
				@include span-columns(12);
			}
			@include font-size($base-font-size * 0.87);
		}
		.site-social {
			padding-top: 1em;
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(6);
				margin-right: 0;
			}
			@include media (max-width $mobile) {
				@include span-columns(12);
			}
			i {
				width: $base-font-size;
			}
			@include font-size($base-font-size * 0.87);
		}
		.site-signature {
			padding-top: $base-font-size;
			@include span-columns(4);
			@include media (max-width $tablet) {
				@include span-columns(12);
				text-align: center;
			}
			word-wrap: auto;
			@include font-size($base-font-size * 0.87);
		}
	}
}
