@mixin font-size($val: $base-font-size) {
	font-size: $val + px;
	font-size: rem($val);
}

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-font-size;
  margin: 0 0 rem($base-font-size);
}
h1 {
	@include font-size($base-font-size * 2);
}
h2 {
	@include font-size($base-font-size * 1.5);
}
h3 {
	@include font-size($base-font-size * 1.25);
}
h4 {
	@include font-size($base-font-size);
}
h5 {
	@include font-size($base-font-size * 0.87);
}
h6 {
	@include font-size($base-font-size * 0.8);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
