// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Roboto:400,700,300);

// Typography
$base-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;//$helvetica;
$heading-font-family: "Roboto Slab", "Helvetica Neue", "Helvetica", "Arial", sans-serif;//$base-font-family;

// Font Sizes
$base-font-size: $em-base;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.6;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $em-base;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
